@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Space+Mono&display=swap&family=Space+Mono&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-foreground: rgb(33, 33, 33);
  --color-background: rgb(220, 220, 220);
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Space Mono", monospace;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  color: var(--color-foreground);
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.15'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

p {
  position: relative;
}

#svg {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  opacity: 0.5;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.grid-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1697224687433-de3d2a618872?q=80&w=2262&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat bottom center;
  background-size: cover;
  opacity: 0.3;
  mix-blend-mode: multiply;
  z-index: 0;
  pointer-events: none;
  touch-action: none;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.column:nth-child(1),
.column:nth-child(2) {
  border-right: 1px solid var(--color-foreground);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.top-container,
.bottom-container {
  display: flex;
  justify-content: space-between;
}

.bottom-container {
  align-items: flex-end;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  font-size: clamp(0.625rem, 0.75vw, 0.875rem);
  line-height: 1.2;
  max-width: 45%;
  font-family: var(--font-secondary);
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.top-right {
  top: 70px;
  right: -60px;
  transform: rotate(90deg);
  width: 150px;
}

.middle-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(6rem, 15vw, 20rem);
  text-align: center;
  font-weight: 600;
  line-height: 1;
  font-family: var(--font-primary);
  z-index: 1;
  pointer-events: none;
  letter-spacing: -0.05em;
}

.corner {
  position: absolute;
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.c-top-left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.c-top-right {
  top: 0;
  right: 0;
  transform: translate(50%, -50%) rotate(90deg);
}

.c-bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%) rotate(-90deg);
}

.c-bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%) rotate(180deg);
}

@media (max-width: 1024px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}