@import url("https://fonts.googleapis.com/css2?family=Inter&family=Space+Mono&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --color--foreground--100: rgb(33, 33, 33);
  --color--background--100: rgb(220, 220, 220);
  --color--accent--100: rgb(210, 255, 140);
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Space Mono", monospace;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  background-color: var(--color--background--100);
  color: var(--color--foreground--100);
  letter-spacing: -0.02em;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease;
}
.header__logo {
  font-size: 72px;
  padding: 0px 12rem;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
}
.header__menu {
  display: flex;
  gap: 20px;
  transition: all 0.3s ease;
  width: 100%;
  justify-content: space-between;
}
.header__menu-item {
  text-decoration: none;
  color: var(--color--foreground--100);
  font-size: 15px;
  text-transform: uppercase;
}
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  background-color: var(--color--accent--100);
}
.content {
  height: 200vh;
  padding: 20px;
}